<script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js"></script>
<script type="text/javascript">

  var appSessionId = 0;
  try {
    appSessionId = parseInt(<%= @id %>);//this maps our app's session id to tokbox's session id
  }
  catch(e)
  {
    console.error(e);
  }

  if(typeof appSessionId === typeof 0) {

    var apiKey    = "45093552";
    var sessionId = "";  //tokbox session id
    var token = "";

    var jqxhr = $.ajax({
      url: "/session/" + appSessionId + "/token",
      type: "GET",
      async: false
    })
    .done(function(r) {
      console.log("Success! " + r.responseText);
      sessionId = r.sessionid;
      token = r.token;
    })
    .fail(function(r, textStatus){
      console.error("Failed."  + textStatus);
      console.error("text: " + r.responseText);
      $('body').prepend('Failed to get token.');
    });

    if(token && sessionId) {
      var session = OT.initSession(apiKey, sessionId);

      session.on("streamCreated", function(event) {
        session.subscribe(event.stream);
      });

      session.connect(token, function(error) {
        var publisher = OT.initPublisher();
        session.publish(publisher);
      });

      $(window).unload(function() {
        session.disconnect();
      });
    }
  }
  else
  {
    $('body').prepend("Must specify app session id in querystring.");
  }
</script>

<html>
<body>
  <p><%= link_to "Index", "/session/index", :id => "end-session", method: :get %></p>
</body>
</html>
